*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    background: #000;
    color: white;
    align-items: center;
}

h1{
    font-size: 2.5em;
}

.option{
    display: flex;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li{
    margin-left: 40px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(43, 52, 226);
}

button{
    background: rgb(43, 52, 226);
    padding: 10px;
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
}

/* main */

.container{
    align-items: center;
    flex: 1;
    margin: 20px 180px;
}

.nav-color{
    top: 40px;
    height: 80px;
    background: rgb(43, 52, 226);
}

img{
    width: 80px;
    border-radius: 50%;
    padding: 30px;
}

.container h1{
    margin: 0;
    padding: 0;
}

.contact-info{
    padding: 30px;
    margin-top: 10px;
    flex-direction: column;
}

.map{
    margin-top: 10px;
    margin-bottom: 15px;
}

.location{
    width: 20px;
    padding: 0;
    margin: 0;
}

.container h3{
    margin-left: 20px;
    font-weight: 400;
}

.info{
    width: 350px;
}

.footer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.gear{
    width: 20px;
    padding: 0;
}

.container a{
    margin-left: 10px;
    font-size: .9em;
    color: rgb(43, 52, 226);
}

/* Div Education */

.education{
    flex: 2;
    margin: 20px 150px;
    justify-content: center;
    align-items: center;
}

.education-nav{
    background: #000;
    color: white;
    padding: 10px 30px;
    margin-left: -10px;
}

.education-info{
    display: flex;
    flex-direction: column;
    padding: 30px;
    line-height: 1.8;
}

.education-info p{
    color: #8d8989;
}

.education-info h4{
    font-weight: 600;
}

/* side 2 */
.side-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.side-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

/* connect */

.connections{
    flex: 1;
}


.conec-req{
    flex: 1;
}

.req, .your-connect{
    background-color: #0b0b0b;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
}

.req h3, .your-connect h3{
    border-radius: 50%;
    background: #fff;
    padding: 8px 12px;
    color: black;
    display: inline-block;
}

.req p, .your-connect p{
    margin-left: 10px;
}

.conect-img{
    display: flex;
}

.conect-img img{
    width: 50px;
    padding: 10px;
}

.declain-img{
    margin-left:10px;
}

.conect-img h4{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.todd{
    width: 50px;
}

.connections{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-conec a{
    color: blue;
    text-decoration: underline;
    padding: 10px;
}

