*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    background: #000;
    color: white;
    align-items: center;
}

h1{
    font-size: 2.5em;
}

.option{
    display: flex;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li{
    margin-left: 40px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(43, 52, 226);
}

button{
    background: rgb(43, 52, 226);
    padding: 10px;
    color: white;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
}


/* Main */

main{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
}


/* Contact info */

.user-profile{
    display: flex;
    flex-direction: column;
    border: 3px solid #6c6c6c;
    margin: 20px 0px;
}

.nav-color{
    height: 80px;
    background: rgb(43, 52, 226);
}

img{
    width: 80px;
    border-radius: 50%;
    padding: 30px;
}

.container h1{
    margin: 0;
    padding: 0;
}

.contact-info{
    padding: 30px;
    margin-top: 10px;
}

.map{
    margin: 10px 0;
    display: flex;
}

.map h3{
    margin-left: 10px;
    align-self: center;
}

.location{
    width: 20px;
    padding: 0;
    margin: 0;
}

.container h3{
    margin-left: 20px;
    font-weight: 400;
}

.info{
    width: 350px;
}

.footer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.gear{
    width: 20px;
    padding: 0;
}

.container a{
    margin-left: 10px;
    font-size: .9em;
    color: rgb(43, 52, 226);
}

/* Education-info */

.education{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    align-self: flex-start;
    border: 3px solid #8d8989;
    width: 500px;
}

.education-nav{
    background: #000;
    color: white;
    padding: 10px 20px;
}

.education-info{
    padding: 20px;
    line-height: 1.8;
}

.education-info p{
    color: #8d8989;
}

.education-info h4{
    font-weight: 600;
}


/* Social */

.conec-req{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    align-self: flex-start;
    border: 3px solid #6c6c6c;
}

.req{
    display: flex;
    padding: 15px;
    background: #252525;
    color: whitesmoke;
    justify-content: center;
}

.req h3{
    background: whitesmoke;
    color: #000;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    margin-right: 10px;
}

.conect-img{
    display: flex;
    padding: 20px;
}

.conect-img h4{
    margin: 30px;
}


.conect-img img{
    width: 80px;
    margin: 5px;
    padding: 0;
}

/* Connection */

.connections{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    align-self: flex-start;
    border: 3px solid #6c6c6c;
    width: 420px;
}

.your-connect{
    display: flex;
    background: #252525;
    color: aliceblue;
    padding: 10px;
    justify-content: center;
}

.your-connect h3{
    border-radius: 50%;
    background: aliceblue;
    color: #252525;
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.footer-conec{
    border-top: 3px solid #6c6c6c;
    padding: 10px;
}

.footer-conec a{
    color: blue;
    padding: 10px;
}

/* Sides  */

main{
    justify-content: center;
}

.left-side{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.right-side{
    display: flex;
    margin: 30px;
    flex-direction: column;
}